*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../imagens/bg-principalM.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    margin: 30px;
    font-size: 8vw;
    text-align: center;
}

a{
    text-decoration: none;
}

button{
    margin: auto;
    padding: 15px;
    border-style: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.534);
    display: block;
    font-size: 4vw;
    width: 30vw;
}