*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../imagens/bg-worshipM.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 7vw;
    text-align: center;
    margin: 20px 10px;
}

table{
    border-collapse: collapse;
    width: 70vw;
    margin: auto;
    margin-bottom: 50px;
}

th,tr,td{
    font-size: 3vw;
    border-bottom: solid #775638 1px;
    text-align: center;
    padding: 5px;
}

a{
    font-size: 3vw;
    margin-left: 10px;
    position: fixed;
    text-decoration: none;

}